@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200&family=Lexend&display=swap');
body, html {
    background-color: #191919;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}


h2, label, button {
    font-size: 2em;
    font-family: "Lexend", sans-serif;
    color: white;
}

h2 {
    margin-top: 0;
}

label, input {
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: solid 1px white;
    margin-top: 1em;
}

input {
    width: 100%;
    font-size: 1.5em;
}

.input-container, .output-container {
    background-color: #252525;
    padding: 1%;
    border-radius: 2%;
    margin: 1%;
}

.input-container {
    flex: 1;
    height: 35%;
}

.output-container {
    flex: 3;
}

/* Media queries for responsiveness */

@media only screen and (min-width: 768px) {
    body {
        flex-direction: row;
    }

    .input-container, .output-container {
        margin: 1%;
    }
}
