@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200&family=Lexend&display=swap');

h2, label {
    font-family: "Lexend", sans-serif;
    color: white;
}

body, html {
    background-color: #191919;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.input-container, .output-container {
    background-color: #252525;
    padding: 1%;
    border-radius: 2%;
    margin: 1%;
}

.input-container {
    flex: 1;
}

.output-container {
    flex: 3;
}

/* Media queries for responsiveness */

@media only screen and (min-width: 768px) {
    body {
        flex-direction: row;
    }

    .input-container, .output-container {
        margin: 1%;
    }
}
