@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200&family=Lexend&display=swap');
body, html {
    background-color: #191919;
    height: 100%;
    margin: 0;
    padding: 0;
}

.nav-bar, .main-container, .output-tables {
    display: flex;
}

.nav-bar {
    justify-content: space-between;
    margin: .2%;
    padding-left: 1%;
    padding-right: 1%;
}

h2 {
    margin-top: 0;
}

h2, .nav-bar a {
    margin-bottom: 0;
}

.main-container {
    height: 100%;
    flex-direction: row;
}

.output-tables {
    flex-direction: column;
    height: 50%;
    align-items: center;
    justify-content: center;
}

#outputTable, #gnattChart{
    color: white;
    font-family: "Lexend", sans-serif;
    border: solid 1px white;
    border-collapse: collapse;
    margin: 2%;
}

th, td {
    border: 1px solid white;
}

h2, label, button, .nav-bar a {
    font-size: 2em;
    font-family: "Lexend", sans-serif;
    color: white;
}

label, input {
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: solid 1px white;
    margin-top: 1em;
}

.nav-bar a {
    text-decoration: none;
}

input {
    width: 100%;
    font-size: 1.5em;
}

.input-container, .output-container {
    background-color: #252525;
    padding: 1%;
    border-radius: 2%;
    margin: 1%;
}

.input-container {
    flex: 1;
    height: 35%;
}

.output-container {
    flex: 3;
    height: 80%;
}

/* Existing styles above */

@media only screen and (max-width: 767px) {
    body {
        flex-direction: column;
    }

    .input-container, .output-container {
        margin: 1% 5%; /* Adjust margins for better spacing */
    }
}